// Banner
.service-vendingcafe-product-banner {
    width: 100%;
    padding-top: 13.8rem;
    padding-bottom: 4.8rem;
    @media screen and (max-width: 1280px) {
        padding: 12.5rem 0 1.75rem 0;
    }
    @media screen and (max-width: 980px) {
        padding: 12rem 0 1.75rem 0;
    }
    @media screen and (max-width: 768px) {
        padding: 11rem 0 1.75rem 0;
    }
    &-group {
        width: 100%;
        max-width: 1536px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;
        padding: 0 1rem;
        gap: 1.5rem;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        &-left {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            position: relative;
            gap: .5rem;
            &-mainimg {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    // width: 100%;
                    height: 500px;
                    @media screen and (max-width: 1280px) {
                        max-width: 324px;
                        height: 450px;
                    }
                    @media screen and (max-width: 980px) {
                        max-width: 292px;
                        height: 405px;
                    }
                    @media screen and (max-width: 768px) {
                        max-width: 261px;
                        height: 366px;
                    }
                    @media screen and (max-width: 480px) {
                        max-width: 235px;
                        height: 329px;
                    }
                    @media screen and (max-width: 360px) {
                        max-width: 211px;
                        height: 298px;
                    }
                }
            }
            &-subimg {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                @media screen and (max-width: 768px) {
                    position: absolute;
                    top: 0%;
                    right: 0%;
                }
                @media screen and (max-width: 480px) {
                    position: unset;
                    width: 25%;
                }
                @media screen and (max-width: 360px) {
                    width: 35%;
                }
                &-box {
                    border: 1px solid #fff;
                    border-radius: 10px;
                    padding: 1rem 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    &.active {
                        border: 1px solid #ff7500;
                    }
                    img {
                        max-width: 68px;
                        height: 88px;
                        @media screen and (max-width: 1280px) {
                            width: 61px;
                            height: 79px;
                        }
                        @media screen and (max-width: 980px) {
                            width: 55px;
                            height: 71px;
                        }
                        @media screen and (max-width: 768px) {
                            width: 49px;
                            height: 64px;
                        }
                        @media screen and (max-width: 480px) {
                            width: 44px;
                            height: 58px;
                        }
                    }
                }
            }
        }
        &-right {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            @media screen and (max-width: 768px) {
                gap: 1rem;
                align-items: center;
                text-align: center;
            }
            @media screen and (max-width: 480px) {
                max-width: 312px;
                margin: 0 auto;
            }
            &-title {
                font-weight: 400;
                font-size: 60px;
                line-height: 70px;
                @media screen and (max-width: 1280px) {
                    font-size: 36px;
                    line-height: 40px;
                }
                @media screen and (max-width: 980px) {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
            &-description {
                font-weight: 300;
                font-size: 16px;
                @media screen and (max-width: 1280px) {
                    font-size: 12px;
                }
            }
            &-price {
                display: flex;
                align-items: center;
                gap: 1rem;
                line-height: 50px;
                p {
                    font-weight: 500;
                    font-size: 48px;
                    @media screen and (max-width: 1280px) {
                        font-size: 36px;
                    }
                    @media screen and (max-width: 980px) {
                        font-size: 24px;
                    }
                }
                b {
                    font-weight: 400;
                    font-size: 25px;
                }
            }
            &-contact {
                width: 100%;
                max-width: 131px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: linear-gradient(180deg, #ffa800 0%, #d54c00 100%);
                    width: 100%;
                    height: 100%;
                    &:hover {
                        background: linear-gradient(180deg, #d54c00 0%, #ffa800 100%);
                    }
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        font-weight: 500;
                        font-size: 16px;
                        color: #fff;
                        text-decoration: none;
                    }
                    border-radius: 10px;
                    border: none;
                    @media screen and (max-width: 1280px) {
                        width: 117px;
                        height: 36px;
                        a {
                            font-size: 12px;
                        }
                    }
                    @media screen and (max-width: 980px) {
                        width: 103px;
                        height: 32px;
                    }
                    @media screen and (max-width: 768px) {
                        width: 93px;
                        height: 29px;
                    }
                    @media screen and (max-width: 480px) {
                        width: 93px;
                        height: 29px;
                    }
                    
                }
            }
        }
    }
}
//

// Spec
.service-vendingcafe-product-spec {
    width: 100%;
    background: linear-gradient(111.41deg, #0079e9 12.4%, #000b6c 105.99%);
    padding: 3rem 1rem 4.69rem 1rem;
    color: #fff;
    @media screen and (max-width: 1280px) {
        padding: 3rem 1rem;
    }
    @media screen and (max-width: 980px) {
        padding: 2rem 1rem;
    }
    &-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 1536px;
        margin: 0 auto;
        gap: 3rem;
        @media screen and (max-width: 980px) {
            gap: 2rem;
        }
        @media screen and (max-width: 480px) {
            max-width: 312px;
        }
        &-title {
            display: flex;
            width: 100%;
            gap: 5rem;
            @media screen and (max-width: 1280px) {
                gap: 3rem;
            }
            @media screen and (max-width: 980px) {
                gap: 2rem;
            }
            @media screen and (max-width: 480px) {
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
            }
            &-list {
                font-weight: 400;
                font-size: 25px;
                line-height: 50px;
                transition: ease-in-out 0.1s;
                cursor: pointer;
                @media screen and (max-width: 1280px) {
                    font-size: 20px;
                    line-height: 40px;
                }
                @media screen and (max-width: 980px) {
                    font-size: 16px;
                    line-height: 30px;
                }
                &.active {
                    border-bottom: 3px solid #fff;
                }
                &:hover {
                    border-bottom: 3px solid #fff;
                }
            }
        }
        &-description {
            font-weight: 300;
            font-size: 16px;
            display: none;
            opacity: 0;
            @media screen and (max-width: 1280px) {
                font-size: 12px;
            }
            @media screen and (max-width: 1280px) {
                font-size: 12px;
            }
            @media screen and (max-width: 1280px) {
                text-align: center;
            }
            &.active {
                display: block;
                opacity: 1;
            }
        }
    }
}
//

// Related
.service-vendingcafe-product-related {
    width: 100%;
    &-group {
        width: 100%;
        max-width: 1536px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 4rem 1rem;
        gap: 1rem;
        @media screen and (max-width: 1280px) {
            padding: 3rem 1rem;
        }
        @media screen and (max-width: 980px) {
            padding: 2rem 1rem;
        }
        @media screen and (max-width: 480px) {
            gap: 2rem;
        }
        &-title {
            font-weight: 500;
            font-size: 25px;
            @media screen and (max-width: 1280px) {
                font-size: 20px;
            }
            @media screen and (max-width: 980px) {
                font-size: 16px;
            }
            @media screen and (max-width: 480px) {
                max-width: 312px;
                margin: 0 auto;
                display: flex;
                justify-content: flex-start;
                width: 100%;
            }
        }
        &-list {
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 1rem;
            margin: 0 auto;
            @media screen and (max-width: 1280px) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
            @media screen and (max-width: 610px) {
                grid-template-columns: 1fr 1fr;
            }
            @media screen and (max-width: 480px) {
                grid-template-columns: 1fr;
                max-width: 312px;
                margin: 0 auto;
            }
            &-box {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                width: 100%;
                max-width: 350px;
                gap: 0.5rem;
                &-image {
                    background: #f4f4f4;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 2.5rem 1rem 2rem 1rem;
                    position: relative;
                    height: 280px;
                    @media screen and (max-width: 1280px) {
                        height: 252px;
                    }
                    @media screen and (max-width: 980px) {
                        height: 227px;
                    }
                    @media screen and (max-width: 768px) {
                        height: 204px;
                    }
                    @media screen and (max-width: 480px) {
                        height: 184px;
                    }
                    img {
                        max-width: 207px;
                        max-height: 208px;
                        @media screen and (max-width: 1280px) {
                            max-width: 186px;
                            max-height: 187px;
                        }
                        @media screen and (max-width: 980px) {
                            max-width: 167px;
                            max-height: 166px;
                        }
                        @media screen and (max-width: 768px) {
                            max-width: 150px;
                            max-height: 151px;
                        }
                        @media screen and (max-width: 480px) {
                            max-width: 135px;
                            max-height: 136px;
                        }
                    }
                    &-floating {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
                &-title {
                    margin-top: 1rem;
                    font-weight: 500;
                    font-size: 20px;
                    @media screen and (max-width: 1280px) {
                        font-size: 16px;
                    }
                }
                &-description {
                    font-weight: 300;
                    font-size: 16px;
                    color: #a5a5a5;
                    @media screen and (max-width: 1280px) {
                        font-size: 12px;
                    }
                }
                &-detail {
                    text-decoration: underline;
                    a {
                        color: #ff7a00;
                        font-weight: 500;
                        font-size: 20px;
                        @media screen and (max-width: 1280px) {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
//
